.banner {
    height: 100vh;
    background-color: $primary;
}

.banner__info {
    animation: .5s ease-out 0s 1 slideInFromLeft;
    position: absolute;
    top: 25%;
    left: 10%;
}

.banner__contact {
    font-size: 1rem;
}

.banner__profileImg {
    animation: .5s ease-out 0s 1 slideInFromRight;
    width: 35%;
    height: fit-content;
    position: absolute;
    right: 5%;
    bottom: 0
}

@include media-breakpoint-down(lg) {
    .banner__profileImg {
        width: 95%;
    }
    .banner__title {
        font-size: 3rem;
        left: 0;
    }
}